body {
    background-color: white;
    margin:0;
    font-family: sans-serif;
}

.menu-button {
    background: lightgrey;
    font-family: sans-serif;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    border-radius: 5px;
    font-size: 150%;
}

.menu-button:hover {
    background: darkgray;
    cursor:pointer;
}

.menu-bar {
    display: flex;
    flex-direction:row;

}

.exit-button {
    text-decoration: underline;
    position:absolute;
    right: 10px;
    top: -10px;
    font-size: 120%;
}

.exit-button:hover {
    color: gray;
    cursor: pointer;
}

.table-header-bar {
    background-image: linear-gradient(to bottom, #6666ff, #3344ee);
    font-size: 150%;
    display:grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    margin-left: 20px;
    margin-right: 0px;
    width: calc(100vw - 50px);
    padding: 5px;
    border-radius: 5px;
}

.table-header-bar-item {
    margin-left: 0px;
    margin-right: 0px;
}

.table-header-bar-item:hover {
    cursor:pointer;
    font-style:italic;
    text-shadow: 1px 1px 2px white;
}

.table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 

    align-items: center;
    text-align: center;
    border: 1px solid black;
    /* gap: 10px; */

    padding: 5px;
    margin-left: 20px;
    width: calc(100vw - 50px);
}

.table-row:hover {
    cursor:pointer;
    background-color:#eeeeee;
}
