:root {
    --background-color: #eeeeee;
    --secondary-color:  #cccccc;
    --hover-color:      #aaaaaa;
    --clicked-color:    #888888;
    --border-color:     #222222;
    --max-width: 1200px;
    --header-background-image:
        linear-gradient(to bottom, #1a69a8, #14528b);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* table-layout: fixed; */
}

tr {
    border-bottom: 1px solid var(--border-color);
}

input {
    border: 1px solid var(--border-color);
    min-width: 0px;
}

label {
    padding: 5px;
}

body {
    max-width: var(--max-width);
    width: 100%;
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-color);
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
}

button {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
}

button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

button:active {
    background-color: var(--clicked-color);
}

.header {
    background-image: var(--header-background-image);
    font-size: 120%;
    border: none;
    min-height: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.footer {
    background-color: var(--secondary-color);
    padding: 5px;
}

.footer * {
    background-color: var(--secondary-color);
}

.header * {
    border: 0px;
    background-image: var(--header-background-image);
    padding: 5px;
}

.header td:first-child {
    border-top-left-radius: 5px;
}

.header td:last-child {
    border-top-right-radius: 5px;
}

.secondary {
    background-color: var(--secondary-color);
}

.rounded {
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--hover-color);
    background-image: linear-gradient(to bottom, var(--hover-color),
                                      var(--hover-color) );
}

.clickable:active {
    background-color: var(--clicked-color);
    background-image: none;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.small-gap {
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.spaced {
    justify-content: space-between;
}

.important {
    font-size: 150%;
}

.exit-button {
    text-decoration: underline;
    position:fixed;
    top: 10px;
    font-size: 120%;
    right: max(calc(100vw - var(--max-width) - 10px), 10px);
}

.exit-button:hover {
    color: gray;
    cursor: pointer;
}

.tab-button {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
    background-color: var(--secondary-color);
}

.border {
  border: 1px solid var(--border-color);
}

.selected {
    background-color: var(--background-color);
    border-color: var(--background-color);
}

.hidden {
    display: none;
}

.vertical-line {
    width: 1px;
    /* background-color: var(--border-color); */
    border-left: 1px solid var(--border-color);
    /* float: left; */
    margin-left: 5px;
    margin-right: 5px;
}

.horizontal-line {
    height: 1px;
    /* background-color: var(--border-color); */
    border-top: 1px solid var(--border-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

.grow {
    flex: 1;
}

.label {
    text-align: right;
}

.wrap {
    flex-wrap: wrap;
}

.bordered-body {
    border: 10px solid var(--clicked-color);
    padding: 5px;
}

.padded {
  padding: 2px;
}

.white {
  color: var(--background-color);
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

@media (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }

    .column-on-mobile {
        flex-direction: column;
        gap: 5px;
    }

    .tab-button {
        padding: 0px;
    }
}


